
.board_cell {
    /* center the cell content */
   justify-content: center;
   align-items: center;
   display: flex;
   font-family: Arial;
   font-size: 3rem;
   font-weight: bold;
   background: white;
 }

  .selected {
    border: 3px solid rgb(174, 33, 83);
    background: rgba(42, 42, 43, 0.99);
  }
  
  /*Ball*/
.ball {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0;
	border-radius: 50%;
}

.b_flat {
  background-color: rgb(49, 145, 231);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.b1 {
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);  
}

.b2 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(51, 255, 0) 3%, rgb(0, 139, 12) 60%, rgb(51, 255, 0) 100%);  
  }

.b3 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 0, 0) 3%, rgb(139, 0, 0) 60%, rgb(255, 0, 0) 100%);  
  }

.b4 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 217, 0) 3%, rgb(139, 137, 0) 60%, rgb(255, 217, 0) 100%);  
  }

  .b5 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 0, 221) 3%, rgb(139, 0, 139) 60%, rgb(255, 0, 221) 100%);  
  }

  .b6 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(0, 217, 255) 3%, rgb(0, 123, 139) 60%, rgb(0, 217, 255) 100%);  
  }

  .b7 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(139, 139, 139) 3%, rgb(0, 0, 0) 60%, rgb(139, 139, 139) 100%);  
  }

  .b8 {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 174, 0) 3%, rgb(139, 95, 0) 60%, rgb(255, 174, 0) 100%);    
  }

  .b9 {
    background: radial-gradient(circle at 65% 15%, rgb(255, 255, 255) 1px, rgb(38, 85, 173) 20%, rgb(12, 139, 0) 30%, rgb(255, 38, 0) 100%);    
  }





  /*BORDER*/
  
  